{{#with model as |contact|}}
<div class="contact-edit-container">
  {{#if isEditing}}
    <div class="test-error-message">
      {{#if errorMessage}}
        {{errorMessage}}
      {{/if}}
    </div>

    {{paper-input class="test-edit-name" value=contact.name}}
    {{paper-divider}}

    {{paper-input class="test-edit-primary-email test-edit-email" value=contact.primaryEmailAddress}}

    {{#each contact.emailAddresses as |emailAddress|}}
      {{paper-input attr-rows=5 class="test-edit-email" value=emailAddress.value}}
      {{paper-icon "delete" class="test-delete-email" click=(action "deleteEmailAddress" emailAddress)}}
    {{/each}}
    {{#paper-button raised=true class="test-add-email" action="addEmail"}}Add Email{{/paper-button}}
    {{paper-divider}}

    {{paper-input attr-rows=5 class="test-edit-primary-phone test-edit-phone" value=contact.primaryPhoneNumber}}

    {{#each contact.phoneNumbers as |phoneNumber|}}
      {{paper-input attr-rows=5 class="test-edit-phone" value=phoneNumber.value}}
      {{paper-icon "delete" class="test-delete-phone" click=(action "deletePhoneNumber" phoneNumber)}}
    {{/each}}
    {{#paper-button raised=true class="test-add-phone" action="addPhone"}}Add Phone{{/paper-button}}
    {{paper-divider}}

    {{#paper-button raised=true class="test-save-button" action="save"}}Save{{/paper-button}}
  {{else}}
    <p class="test-contact-name">{{contact.name}}</p>
    {{paper-divider}}

    <p class="test-contact-primary-email test-contact-email">{{contact.primaryEmailAddress}}</p>
    {{#each contact.emailAddresses as |emailAddress|}}
    <p class="test-contact-email">{{emailAddress.value}}</p>
    {{/each}}
    {{paper-divider}}

    <p class="test-contact-primary-phone test-contact-phone">{{contact.primaryPhoneNumber}}</p>
    {{#each contact.phoneNumbers as |phoneNumber|}}
    <p class="test-contact-phone">{{phoneNumber.value}}</p>
    {{/each}}
    {{paper-divider}}

    {{#paper-button raised=true class="test-edit-button" action="edit"}}Edit{{/paper-button}}
  {{/if}}
</div>
{{/with}}
