{{#paper-list}}
  {{#each model as |contact|}}
    {{#link-to "contacts.contact" contact.id class="test-contact-link"}}
      {{#paper-item class="test-contact"}}
        <p class="test-contact-name">{{contact.name}}</p>
        <p class="test-contact-primary-email">
          <a href="mailto:{{contact.primaryEmailAddress}}">
            {{contact.primaryEmailAddress}}
          </a>
          (+{{contact.emailAddresses.length}})
        </p>
        <p class="test-contact-primary-phone">
          <a href="tel:{{contact.primaryPhoneNumber}}">
            {{contact.primaryPhoneNumber}}
          </a>
          (+{{contact.phoneNumbers.length}})
        </p>
      {{/paper-item}}
    {{/link-to}}
    {{paper-divider}}
  {{/each}}
{{/paper-list}}
